@model IEnumerable<BDwAI_BugTrackSys.Models.Zgloszenie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Temat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataUtworzenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projekt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priorytet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            @if (User.IsInRole("Admin"))
            {
                <th>Autor</th>
            }

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string rowClass = "";
            bool isDone = false;
            if (item.Status != null && (item.Status.Nazwa == "Zakonczone"))
            {
                rowClass = "table-success";
                isDone = true;
            }

            <tr class="@rowClass">
                <td>
                    @Html.DisplayFor(modelItem => item.Temat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataUtworzenia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Projekt.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priorytet.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Nazwa)
                </td>

                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @(item.Uzytkownik?.UserName ?? "Nieznany")
                    </td>
                }

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <span>|</span> <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    @if (User.IsInRole("Admin") || (User.Identity.IsAuthenticated && item.Uzytkownik != null && User.Identity.Name == item.Uzytkownik.UserName))
                    {
                        <span>|</span> <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>